

.halfscreen{
    height: 100px;
    width: 50%;
}
.text1{
    font-family: 'Montserrat', sans-serif;
}
.text2{
    font-family: 'Montserrat', sans-serif;
}
.text3{
    font-family: 'Montserrat', sans-serif;
}