.csscn{
    width: 10px;
height: 10px;
margin-top: 200px;
margin-left: 250px;
gap: 0px;
opacity: 0px;

}
.csframe{
    width: 50%;

}.textp5{
    width: 50%;
}

.head{


font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 70px;
text-align: left;
color:  #2952A2;

}